*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
/* Clear CSS End */

.b {
    border: 1px solid black;
}

.g-container{
    /* min-width: 1026px; */
}
/* C1 */
.container1{

}
.header{
    display: flex;
    background-color: rgb(35, 47, 62);
    padding: 20px 30px;
    box-sizing: border-box;
}
.header .logo{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo img{
    width: 100%;
}
.header .nav{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/*C1-Content */
.c1-content{
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)) , url(assets/bkg.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    
}
.c1-content h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
    margin-left: 30px;
    font-weight: bold;
}
.nav ul{
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
}
.nav ul li{
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/* C2-Content */
.c2-content {
    margin: 20px 10px;
}
.c2-content img{
    width: 100%;
}
.c2-content .text {
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 30px;
    box-sizing: border-box;
}
.c2-content .faqmap {
    display: flex;
    justify-content: space-around ;
}
.faqmap .map {
    justify-self: end;
}
.c2-content .faq{
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 60px;
}
.c2-content .faq h2{
    color: rgb(231, 73, 0);
    font-size: 32px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.c2-content .faq h4{
    margin-bottom: 10px;
}
/* Footer */
.back {
    width: 100%;
    background-color: rgb(55, 71, 90);
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}
.back:hover {
    background-color: rgb(68, 82, 100);
}
.back p {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.footer {
    background-color: rgb(35, 47, 62);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-items: center;
    justify-content:center;
    /* column-gap: 20px; */
    column-gap: 80px;
    padding: 50px 0;
    box-sizing: border-box;
}
.footer li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.footer li:not(:last-child) { 
    margin-bottom: 10px;  
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.footer li:not(:first-child) { 
    font-size: 15px;  
    font-weight: 10;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.footer li:not(:first-child):hover { 
    text-decoration: underline;
}
.footer ul li:first-child {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
}
.cr{
    padding: 20px 0;
    color: white;
    background-color: rgb(24, 33, 44);
}
.cr h4, .cr p {
    text-align: center;
    margin-bottom: 5px;
}

.promo, .layanan, .penjualan, .kartu, .register {
    height: 600px;
}
/* Promo */
.cpromo, .clayanan {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.cp {
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
}
.cp1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(35, 47, 62) ;
    color: rgb(255, 255, 255);
}
.cp1 h1{
    font-size: 28px;
    margin: 10px 0;
    font-family: 'Times New Roman', Times, serif;
}
.cp1 p {
    margin: 10px 0;
}
.cp img {
    width: 100%;
}
.cp button {
    background-color: rgb(86, 105, 129); /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;  
}
.cp button:hover {
    background-color: rgb(125, 147, 173);
}
/* Clayanan */
.cp2 {
    padding: 14px;
    box-sizing: border-box;
    background-color: rgb(170, 170, 170);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* register */
.register, .penjualan, .kartu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}